.title
  border-style solid
  border-color #e8e9e9
  border-width 1px 1px 1px 4px
  border-left-color gray-dark
  padding 15px 20px
  .h
    font-weight 900
    font-size em(16px)
    text-transform uppercase