.rubric-plate
  display inline-block
  vertical-align middle
  background-color #222626
  border-style solid
  border-width 0 0 0 4px
  border-color orange-dark
  padding 5px 25px
  font-size em(18px)
  font-weight 300
  line-height 1
  color light-color