.logo_top
  text-align center
  .logo__name
    color blue-dark
    font-size em(51px)
    font-weight 700
    line-height em(61px, 51px)
  .logo__slogan
    color #222626
    font-size em(22px)
    font-weight 300
    line-height em(43px, 22px)