/* color schem */
// green
green = #00C853
// orange
orange = #FF9800
orange-dark = #f57c00
// blue
blue-light = #80D8FF
blue = #40C4FF
blue-dark = #0091EA
// gray
gray-light = #E0E0E0
gray = #616161
gray-dark = #212121

/* font */
base-font-size = 16px
base-font-famely = 'Roboto', sans-serif

/* background */
light-background = #fff
dark-background = #000

/* color */
base-text-color = #424242
light-color = #fff
dark-color = #000

/* border */
light-border = #fff
dark-border = #000