@import "_page_theme_media-variables"
@import "_page_theme_media-mixins"
// fonts
/* normal */
//fontFace('roboto-thin', 'Roboto', 100, normal)
fontFace('roboto-light', 'Roboto', 300, normal)
fontFace('roboto-regular', 'Roboto', 400, normal)
fontFace('roboto-medium', 'Roboto', 500, normal)
fontFace('roboto-bold', 'Roboto', 700, normal)
fontFace('roboto-black', 'Roboto', 900, normal)
/* italic */
//fontFace('roboto-thinitalic', 'Roboto', 100, italic)
//fontFace('roboto-lightitalic', 'Roboto', 300, italic)
fontFace('roboto-italic', 'Roboto', 400, italic)
//fontFace('roboto-mediumitalic', 'Roboto', 500, italic)
//fontFace('roboto-bolditalic', 'Roboto', 700, italic)
//fontFace('roboto-blackitalic', 'Roboto', 900, italic)

html
  height 100%

.page_theme_media
  font-size base-font-size
  font-family base-font-famely
  color base-text-color
  line-height em(24px, @font-size)
  min-height 100%
  display flex
  flex-direction column
  background-color: light-background