.news_type_list
  clearfix()
  .news__image,
  .news-description
    @media (min-width $screen-md)
      float: left
  .news__image
    margin-bottom: 30px
    @media (min-width $screen-md)
      width: 35%
      margin-bottom: 0
    .image
      @extend .img-responsive
      width: 100%
  .news-description
    @media (min-width $screen-md)
      width 64%
      padding-left: 30px