.news_type_plate
  position: relative
  .news__content
    color light-color
    position absolute
    padding 30px 25px
    bottom: 0
    width: 100%
  .news__rubric
    display inline-block
    vertical-align middle
    background-color #222626
    border-style solid
    border-width 0 0 0 4px
    border-color orange-dark
    padding 5px 25px
    font-size em(18px)
    font-weight 300
    line-height 1
    margin-bottom 10px
    &_type_1
      border-color blue-dark
    &_type_2
      border-color orange-dark
    &_type_4
      border-color green
  .news__description
    text-shadow 0 0 13.1px rgba(0, 0, 0, 0.83)
    font-size em(20px)
    line-height 24px
    font-weight 500
  .news__image
    width 100%