.news_type_plate
  position: relative
  .news__content
    color light-color
    position absolute
    padding 30px 25px
    bottom: 0
    width: 100%
  .news__rubric
    margin-bottom: 10px
  .news__description
    text-shadow 0 0 13.1px rgba(0, 0, 0, 0.83)
    font-size em(20px)
    line-height 24px
    font-weight 500
  .news__image
    width 100%