.mobile-menu-form__input
  .input__control
    width: 100%
    background none
    border 1px solid transparent
    outline 0
    color light-color
    font-weight 300
    transition background .3s
    padding 7px 40px 7px 10px
    margin 1px
    position: relative
    z-index 2
    @media (min-width $grid-float-breakpoint)
      width 180px
      &:focus
        border-color light-border
    &:before
      display block
      content ''
      background light-background
      position absolute
      z-index: 1
    &::-webkit-input-placeholder
      color light-color
    &::-moz-placeholder
      color light-color
    &:-moz-placeholder
      color light-color
    &:-ms-input-placeholder
      color light-color
