.mobile-menu-nav__item
  border-style solid
  border-color blue-light
  border-width 0 0 2px
  padding 10px
  @media (min-width $grid-float-breakpoint)
    display inline-block
    vertical-align: middle
    border-width 0 3px 0 0
    padding 0 30px
    &:last-of-type
      border none
