.news-top__list
  margin 0 -5px
  padding: 0 15px
  @media (min-width $screen-lg)
    flex-wrap nowrap
  @media (min-width $screen-sm)
    display flex
    flex-wrap wrap
  @media (max-width $screen-md-max)
    padding: 0
