.post-buttons__button
  display: inline-block
  border 1px solid #e8e8e8
  border-radius 3px
  white-space nowrap
  padding: 8px 40px
  background: transparent
  margin: 3px 10px 3px 0

  color #999
  font-size em(11px)
  line-height: 1
  font-weight 400
  text-transform uppercase