.socials__link
  display table
  color #a4abab
  text-transform uppercase
  font-weight 700
  line-height 1
  transition color .3s
  .socials__icon, .socials__text
    display table-cell
    vertical-align midle
  &.link_hovered
    text-decoration: none
    color blue-light