.comment__button
  width: 16%
  float: right
  clearfix()
  .button
    border 1px solid #242d2e
    border-radius 2px
    background: transparent
    transition all .3s
    float: right
    &.button_hovered
      background-color blue
      border-color blue
      .button__text
        color: light-color
    .button__text
      color #222626
      font-size em(13px)
      font-weight 400
      line-height 1
      text-transform uppercase
      padding: 10px